<div class="chat-container">
  <div class="users-list">
    <h3>Users</h3>
    <ul>
      <li *ngFor="let user of users">{{ user }}</li>
    </ul>
  </div>
  <div class="chat-messages">
    <div class="message" *ngFor="let message of messages">{{ message }}</div>
  </div>
  <div class="chat-input">
    <input type="text" placeholder="Type your message..." [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
    <button (click)="sendMessage()">Send</button>
    <button (click)="logout()">Logout</button>
  </div>
</div>
